/* Fichier : patient.css */

body {
    font-family: Arial, sans-serif;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 10px;
}

h3 {
    margin-top: 20px;
}
